In [1]:
import pandas as pd
import numpy as np

import matplotlib as plt
import seaborn as sns

import data_cleaning as dc

In [36]:
df = pd.read_csv('estimated_rent.csv')
df2 = pd.read_csv('distance_nearest_subway.csv')
df3 = pd.read_csv('real_estate_price_transport.csv')

In [41]:
df['address'] = df.addr
df.set_index('address', inplace=True)
df.drop(columns=['addr','Unnamed: 0','Unnamed: 0.1'], inplace=True)

df2.set_index('address', inplace=True)

In [48]:
df2.drop(columns=['Unnamed: 0','Unnamed: 0.1'], inplace=True)
df2.head()

,num_within_dist,station,line,geometry,stat_lng,stat_lat,add_lng,add_lat,dist_miles
address,,,,,,,,,
8650 BAY 16TH STREET,3,79th St,D,POINT (-74.0005828 40.61315889999999),-74.000583,40.613159,-74.005338,40.607264,0.477642
8650 BAY 16TH STREET,3,20th Ave,D,POINT (-73.9981743 40.60467689999999),-73.998174,40.604677,-74.005338,40.607264,0.416171
8650 BAY 16TH STREET,3,18th Ave,D,POINT (-74.0015925 40.6077357),-74.001593,40.607736,-74.005338,40.607264,0.199187
70 BAY 20TH STREET,2,20th Ave,D,POINT (-73.9981743 40.60467689999999),-73.998174,40.604677,-74.002813,40.605148,0.245514
70 BAY 20TH STREET,2,18th Ave,D,POINT (-74.0015925 40.6077357),-74.001593,40.607736,-74.002813,40.605148,0.189921

In [42]:
df.head()

,RegionID,neighborhood,sale_date,sale_price,zip_code,rent_estimate
address,,,,,,
360 MANHATTAN AVENUE,270958,upper west side,2012-05,695000.0,10026.0,2664
360 MANHATTAN AVENUE,270958,upper west side,2012-03,665000.0,10026.0,2575
360 MANHATTAN AVENUE,270958,upper west side,2012-02,721000.0,10026.0,2796
360 MANHATTAN AVENUE,270958,upper west side,2013-08,955000.0,10026.0,3319
130 MANHATTAN AVENUE,270958,upper west side,2012-12,2100000.0,10025.0,8155

In [53]:
df_full = df.join(df2, on=df.index)
df_full.drop(columns='key_0', inplace=True)

In [55]:
df3.set_index('address', inplace=True)

In [57]:
df_fuller = df_full.join(df3, on=df_full.index, rsuffix='real_estate')

In [62]:
df_fuller.head()

,key_0,RegionID,neighborhood,sale_date,sale_price,zip_code,rent_estimate,num_within_dist,station,line,...,commercial_units,gross_square_feet,land_square_feet,neighborhoodreal_estate,residential_units,sale_datereal_estate,sale_pricereal_estate,total_units,year_built,zip_codereal_estate
address,,,,,,,,,,,,,,,,,,,,,
360 MANHATTAN AVENUE,360 MANHATTAN AVENUE,270958,upper west side,2012-05,695000.0,10026.0,2664,4.0,Cathedral Pkwy (110th St),A-B-C,...,0,0,0,WILLIAMSBURG-EAST,1,2012-06-27,849000,1,2007,11211
360 MANHATTAN AVENUE,360 MANHATTAN AVENUE,270958,upper west side,2012-05,695000.0,10026.0,2664,4.0,Cathedral Pkwy (110th St),A-B-C,...,0,0,0,MANHATTAN VALLEY,1,2012-05-04,695000,1,0,10026
360 MANHATTAN AVENUE,360 MANHATTAN AVENUE,270958,upper west side,2012-05,695000.0,10026.0,2664,4.0,Cathedral Pkwy (110th St),A-B-C,...,0,0,0,MANHATTAN VALLEY,1,2012-03-02,665000,1,0,10026
360 MANHATTAN AVENUE,360 MANHATTAN AVENUE,270958,upper west side,2012-05,695000.0,10026.0,2664,4.0,Cathedral Pkwy (110th St),A-B-C,...,0,0,0,MANHATTAN VALLEY,1,2012-02-07,721000,1,0,10026
360 MANHATTAN AVENUE,360 MANHATTAN AVENUE,270958,upper west side,2012-05,695000.0,10026.0,2664,4.0,Cathedral Pkwy (110th St),A-B-C,...,0,0,0,MANHATTAN VALLEY,1,2013-08-05,955000,1,0,10026

In [ ]:
for i in df_fuller.columns:
    print(i,len(df_fuller.loc[df_fuller[i]==0,:]))